<div>
  {{ item.label }}

  <div class="float-right">
    {{#unless item.done}}
    <button class="btn btn-sm btn-outline-success">Done</button>
    {{/unless}}
    &nbsp;
    <button class="btn btn-sm btn-outline-danger">&times;</button>
  </div>
</div>
<div class="text-muted small">
  {{ item.dateTimeString }}
</div>